---
import { Image } from 'astro:assets'
import backgroundImage from '../background/map.webp'
import BusOverlay from '../components/BusOverlay.vue'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Christchurch Bus Mural</title>
	</head>
	<body>
		<div
			class="parent"
		>
			<div class="map"></div>
			<BusOverlay
				client:only
				class="bus-overlay"
			/>
		</div>
		<style>
			.parent {
				display: flex;
			}
			.bus-overlay {
				height: 100vh;
				width: 100vw;
				position: absolute;
			}
			.map {
				height: 100vh;
				aspect-ratio: 4096 / 2865;
				background-image: url(../background/map.webp), url(../background/map-lowres.webp);
				background-size: contain;
				background-position: center;
			}
			body {
				margin: 0px;
				overflow-y: hidden;
				background-color: black;
			}
		</style>
	</body>
</html>
